<p class="credit">
Powered by <a href="http://octopress.org">Octopress</a>. Theme <a href="https://github.com/ConnorAtherton/OctoPanel">OctoPanel</a>
</p>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=7311660; 
var sc_invisible=1; 
var sc_security="16e18489"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="web stats"
href="http://statcounter.com/free-web-stats/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/7311660/0/16e18489/1/"
alt="web stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
